.intro__actions {
    margin-top: 48px;
}
.intro__button {
    border: 0;
    padding: 16px;
    font-size: 16px;
    margin: 0 8px;
    border-radius: 2px;
    color: #3e4eb8;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.intro__button:hover {
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}
.intro__button:focus {
    outline: none;
}
